/*
Hazy Blue
*/

:root {
  --background: #ECFBFC;
  --imagefilter: #ECFBFC;
  --text: #2400FF;
  --links: #2400FF;
  --ascii: #2400FF;
}

.profile-image{
    filter: invert(8%) sepia(99%) saturate(7044%) hue-rotate(247deg) brightness(100%) contrast(145%);
}

html {
  background-color: var(--background);
  color: var(--text);
}
a {
  color: var(--links);
}
a:hover {
  color: var(--links);
}
a:active {
  color: var(--links);
}
img {
}

a[href] {
  color: var(--links);
}
a[href]:visited {
  color: var(--links);
}
nav{
    color: var(--links);
}
