/*
Cotton Purple
*/

:root {
  --background: #FFE4DD;
  --imagefilter: #FFE4DD;
  --text: #6C0ED4;
  --links: #6C0ED4;
  --ascii: #6C0ED4;
}

.profile-image{
    filter: invert(11%) sepia(71%) saturate(5170%) hue-rotate(293deg) brightness(87%) contrast(111%);
}

html {
  background-color: var(--background);
  color: var(--text);
}
a {
  color: var(--links);
}
a:hover {
  color: var(--links);
}
a:active {
  color: var(--links);
}
img {
}

a[href] {
  color: var(--links);
}
a[href]:visited {
  color: var(--links);
}
nav{
    color: var(--links);
}