---
layout: layouts/home.njk
---

About

Tiny Factories is a self-organized collective of emerging coders, artists, designers who are crafting artful softwares and exploring ways to establish both creative and financial autonomy to become indiepreneurs. 

We are creating a community-driven online retreat where we support each other in finding our footing and creative voice. We consider this a campsite for bonfire conversations around creative expressions and a studio for constructive explorations for our practice ~! 

We are on a journey to find our place at the intersection of art, design, technology, and indiepreneurship. We’ve gathered because this can feel like a loney process and tbh this sh*t is hard. Come wander with us! 

Our mission is to create a cozy, safe, and inspiring space where emerging creators and indiepreneurs explore, find footing, and shine.

We believe it takes a while to become truly apart of a friend and peer group, so we ask that each membership starts at a minimum of 3 months. And whenever you feel like you are starting a new chapter, it is totally welcomed for you to leave this campsite, but do know that this place will always be here for you!