---
layout: layouts/home.njk
eleventyNavigation:
  key: about 
  order: 1
---



<div class="container">

<h1> Tiny Factories is a community for people who are young in exploring their creative expressions</h1>

{% include "ascii/hero.njk" %}


<p>
We are a tribe of creatives, consisting of indiepreneurs, coders, artists, designers, musicians, videographers, writers, animators (and more) supporting each other in establishing both creative autonomy and financial stability.
</p>

<p>
It’s a paid and private online treehouse where we have bonfire-like conversations about creative expression while giving feedback to each other's projects. 
</p>

<p>
Interested? You can <a href="join-us">join us</a> here or check out our <a href="https://tinyletter.com/tiny_factories" target="blank">newsletter</a> and <a href="https://twitter.com/tiny_factories" target="blank">Twitter</a>!  
</p>


<br><br>

<!---
<div class="splitcol">
  <p class="split">
    <a href="join-us">Join Us → </a>
  </p>
  <p class="split">
    <a href="https://tinyletter.com/tiny_factories" target="blank">Check out our Newsletter →</a>
  </p>
</div>
---!>


<br><br><br>

<h2>Get creative feedback from makers across the world</h2>

<p>
From seeking advice on launching a successful Kickstarter campaign, debugging tricky codes, to uncovering cool fonts — we are committed to helping each other out. 
</p>

<p>
You can upload early work-in-progress stuff to receive feedback from peer members across the globe, from Amsterdam, London, New York, New Zealand, Taipei, Tokyo.
</p>

<p>
We also have a recurring online session where we meet the other members and share our progress, do live prototype testing and many more.
</p>

<img class="tf_images" src="https://cdn.glitch.com/88b0616c-3f0c-4d6f-a529-e928070e556d%2FmeetupGIF.gif?v=1608127198430" alt="meetup pic">

<p class = "photo_description">
Online sessions to get to know each other
</p>


<br><br><br><br>

<h2>Finding your creativing footing doesn't need to be a solo journey. </h2>

<p>
We started this group after realising that it's really difficult to get creative feedback on your side projects after graduating from design schools.
</p>

<p>
Our mission is to create a cozy, safe, and inspiring online space where emerging creators can help each other find creative footing, and successfully ship their projects out in the world.
</p>

<img class="tf_images" src="https://cdn.glitch.com/a350d2cb-17a7-4fa6-86f2-12d51aff6c68%2FScreenshot%202020-10-19%20at%2012.52.17%20AM.png?v=1612184182595" alt="meetup pic">

<p class = "photo_description">
Meeting up in Figma to reflect on our journey as a maker
</p>



<br><br><br><br>

<h2>Camp together for a month to ship a product.</h2>

<div class="ascii">                      

        ______
　　    /     /\
      /     /  \
     /_____/----\_    (  
    "     "          ).  
   _ ___          o (:') o   
  (@))_))        o ~/~~\~ o   
                  o  o  o

</div>

<p>
We occasionally host makeathon style camps where we meet in some parts of the world and make something together.
We ran a few of these camps in San Francisco and Taipei, which was lots of fun.
</p>
<p>
However with COVID19, we are putting that on a pause for now. Hopefully we can start this again in late 2021 or 2022; maybe somewhere in Tokyo?
</p>

<img class="tf_images" src="https://cdn.glitch.com/88b0616c-3f0c-4d6f-a529-e928070e556d%2Fcamp2019.jpg?v=1607948713742" alt="camp pic">

<p class = "photo_description">
Our first camp in San Francisco
</p>


<h2>Do you want to join us?</h2>

<p>
You can join the community <a href="join-us">here</a>, and subscribe to our <a href="https://tinyletter.com/tiny_factories" target="blank">newsletter</a>!
We have a <a href="https://twitter.com/tiny_factories" target="blank" >Twitter</a> thing too ;)
</p>

{% include "ascii/forest.njk" %}





</div>



<script type="text/javascript" src="/js/animate-ascii.js"></script>
