---
layout: layouts/base.njk
eleventyNavigation:
  key: join us
  order: 4
---

<div class="container">


<div class="ascii" medium-ascii"> 

      __                  __  
   | /  \ | |\ |    |  | /__` 
\__/ \__/ | | \|    \__/ .__/ 
                              

</div>

{% include "ascii/join-us-hero.njk" %}



<h3 class="page_top">Finding your creativing footing doesn't need to be a solo journey.</h3>

<br>
<br>
<p class="separater_line"></p>

<h2>How do I apply for the waitlist?</h2>

<p>
To apply for the waitlist, tell us a little bit about yourself via <strong><a href="https://tiny-factories.typeform.com/to/hotpAx">this form</a></strong>!  
<br>
However, this group is not trying to become another mega-slack-group with too many strangers. We want to make sure that each of us know one another by our face and our name~. So we might have to bring in new members in slowly and as a sustainable pace.
</p>

<h2>It’s not free to join, right?</h2>

<p>
Unfortunately, no. We started the community as a free-to-join group, but as we expanded, we realised we want to create a cozy corner for us to hangout, support each other, and our creative explorations. That is why we decided to have a collective piggy bank to help cover some of the group toolings we have and also to help the staff who are moderating the community.
</p>

<p>
We believe it takes a while to truly become a part of a friend and peer group. So we ask each member to commit to a minimum of three-month membership. Currently, as a member, we each contribute $20 to the piggy bank(might change in the future).
</p>

<div class="ascii">                      

        ______
　　    /     /\
      /     /  \
     /_____/----\_    (  
    "     "          ).  
   _ ___          o (:') o   
  (@))_))        o ~/~~\~ o   
                  o  o  o

</div>

<h2>What will I get from joining the group?</h2>

<p>

<ol>
  <li>Take part in conversations by making requests, giving feedback, and geeking out on your latest rabbit holes with makers from across the globe.</li>
  <br>
  <li>Leverage our guided workshops around identifying patterns in your past work and aspirational work and 1:1 dialogue with members and staff.</li>
  <br>
<li>Get to know and have close-knit conversations with at least 6-12 members –– we are a group that cherish bon-fire conversations and we know each other by our faces!</li>
  <br>
  <li>Drop into the recurring online gathering sessions with makers of product such as TheirTube, interactive drawing tools, MeTime.fm, NocNoc, Scribble Together, shADe extension, MakeSpace, Sashiko bag and many more!</li>
    <br>
  <li>Make use of the mini-yet-mighty library of product, marketing, design, code related resources and tools we are growing over time</li>

</ol>

</p>



</div>
