@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:500,600&display=swap');

body {
    font-family: 'Darker Grotesque', sans-serif;
    color: aliceblue;
    /*Somehow need to add this otherwise chaos*/
    padding:0;
    margin:0;
    height: 100vh;
    overflow: hidden;

}

.intro{
    background-image: url(https://images.unsplash.com/photo-1422405061047-61f0cf84c1dc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}



.container {
    min-height: 100vh;

    /*flexbox and column for vertical*/
    display: flexbox;
    flex-direction: column;

    /*margin auto　plus max-width makes them centered nicely*/
    margin: auto;
    max-width: 600px;
    padding-top: 1000px;
}




/*white-space:nowrap makes sure it does not wrap*/
/* overflow:hidden hides the one that goes out */

.marquee {
    font-weight: 600;
    position: absolute;
    padding-top: 10px;

    top: 0px;
    left: 0px;
    right: 0px;

    width: 100%;
    overflow: hidden;
    mix-blend-mode:exclusion;
}

.marquee span{
    font-size: 130px;
    color: white;

    white-space: nowrap;
    /* position:relative; */
    display: flex;
    line-height: 0.8;
}



/*—————ANIMATION±———————*/

.marquee span.left_move{
    animation: moveLeft 1000s linear infinite;
}


.marquee span.right_move{
    animation: moveRight 1000s linear infinite;
}

.marquee span.flicker_move_right{
    animation: 
    moveRight 1000s linear infinite, 
    flickerAnimation 2s infinite;
}

.marquee span.flicker_move_left{
    animation: 
    moveLeft 1000s linear infinite, 
    flickerAnimation 2s infinite;
}


.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 8s;
    animation-delay: 0.5s;

    /*Image in body layer doesn't work*/
    /* By setting it forward it sets opacity 0 here as a starting point */
    animation-fill-mode: forwards;
}


/*—————ANIMATION SETTINGS———————*/


/*Intro Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-700px);
    }

    50%{
        opacity: 1;
    }


    100% {
        transform: translate(0);
        opacity: 1;
    }
}



/* —————Scrolling Effect — Right Left————— */

@keyframes moveLeft {

0%{
    transform: translate(0,0);
}

100%{
    transform: translate(-2000vw,0);
}

}


@keyframes moveRight {

0%{
    transform: translate(-2000vw,0);
}

100%{
    transform: translate(0,0);
}

}


/*------Flicker----*/

@keyframes flickerAnimation {
    0%   { color: orangered; }
    50%  { color: white; }
    100% { color: orangered; }
  }
 