---
layout: layouts/home.njk
eleventyNavigation:
  key: projects
  order: 3
---

<div class="container">


<div class="ascii" style="font-weight:800; font-size: 13px; margin-top:10px"> 

 __   __   __        ___  __  ___  __  
|__) |__) /  \    | |__  /  `  |  /__` 
|    |  \ \__/ \__/ |___ \__,  |  .__/ 
                                       

</div>



<div class="ascii" style="font-size:8px; margin-bottom: 30px;"> 

               .---._
           .--(. '  .).--.      . .-.
        . ( ' _) .)` (   .)-. ( ) '-'
       ( ,  ).        `(' . _)
     (')  _________      '-'
     ____[_________]                                         ________
     \__/ | _ \  ||    ,;,;,,                               [________]
     _][__|(")/__||  ,;;;;;;;;,   __________   __________   _| LILI |_
    /             | |____      | |          | |  ___     | |      ____|
   (| .--.    .--.| |     ___  | |   |  |   | |      ____| |____      |
   /|/ .. \~~/ .. \_|_.-.__.-._|_|_.-:__:-._|_|_.-.__.-._|_|_.-.__.-._|
+=/_|\ '' /~~\ '' /=+( o )( o )+==( o )( o )=+=( o )( o )+==( o )( o )=+=
='=='='--'==+='--'===+'-'=='-'==+=='-'+='-'===+='-'=='-'==+=='-'=+'-'====


</div>

<h3 class="page_top">Experiments and projects shipped from our community.</h3>
<br>
<br>
<p class="separater_line"></p>



<section>
  {% for project in projects | randomOrder %}
   <br>
    <div>
    <a href="{{ project.projectData.liveUrl}}" target="blank">
          <h2 class="f4 bg-near-black white mv0 pv2 ph3" style="margin-bottom: 15px">{{ project.title }}</h2> </a>

      <div class="pa3 bt">
        <p class="f6 f5-ns lh-copy measure mv0" style="margin-bottom: 0px">
          {{ project.description }}
        </p>
      </div>
    
      <img class="tf_images" src="{{ project.heroImage }}" style="margin-top: 20px" alt="tiny_profile_pic">
        <p style="text-align:right; margin-rigt:5px;">
        By : {{ project.createdBy }}
        </p>
        <br>
      
      <p class="separater_line"></p>

    </div>
  {% endfor %}
</section>

</div>