---
layout: layouts/home.njk
eleventyNavigation:
  key: support us
  order: 5
---

<div class="container">

<div class="ascii medium-small-ascii"> 

 __        __   __   __   __  ___          __  
/__` |  | |__) |__) /  \ |__)  |     |  | /__` 
.__/ \__/ |    |    \__/ |  \  |     \__/ .__/ 
                                               

</div>

{% include "ascii/support-us-hero.njk" %}

<h3 class="page_top">A sustainable space for<br/> bon-fire conversations</h3>

<br>
<br>
<p class="separater_line"></p>

<p>Tiny Factories is currently operated and moderated by three main staff members: <a href="https://twitter.com/glitchyowl">Weiwei Hsu</a>, <a href="https://twitter.com/gndclouds">William Felker</a> and <a href="https://twitter.com/tomokihara">Tomo Kihara</a>. Often times, spaces for bon-fire discussions about creative work fizzle out after a while because it’s all voluntary work. We are committed to making a long-lasting space.<p/>

<p>Early support in Tiny Factories is instrumental to the vibrancy of this group. We have planned out the development of Tiny Factories and compartmentalized them into 6 stages. As the number of members and supporters increase, members will enjoy an increased access of programming and support orchestrated by staff. Additionally, we will be able to dedicate more time into the design, development, and maintenance of Tiny Factories. If you are eager like we are to dedicate more time in the world of creative expression, we invite you to join us in making a space for finding creative footing that lasts.</p>


<h2>How I can contribute to this community?</h2>
<p>
Our collective is composed of a group of creators working with different media and we could all benefit from having additional guidance and support. While we don’t have a laundry list of ways for you to support us, here’s a small guide of how you might be able to support us:<p/>

<p>+ Mentorship - Have dialogues with us and provide us with guidance as we find our footing and voice as creators and indiepreneurs (this can be an one-time or a recurring engagement depending on your availability)</p>

<p>+ Resources - As much as this is a journey to finding our footing, it is also a process of exploring and tinkering with ideas and tools.</p>

<p>+ Sponsorship - We maintain a <a href="https://ko-fi.com/tiny_factories">ko-fi</a> as a way for you to support our open source proejcts and members projects.</p>

<h2>What do I get as an individual partner?</h2>

<p>If you are interested in exploring ways to support, sponsor, and collaborate with rising indiepreneurs, or for any other questions, please email: <a>partnership@tinyfactories.space</a> </p>


</div>
