---
layout: layouts/base.njk
eleventyNavigation:
  key: work with us
  order: 6
---

<div class="container">


<!-- <div class="ascii" medium-ascii"> 

      __                  __  
   | /  \ | |\ |    |  | /__` 
\__/ \__/ | | \|    \__/ .__/ 
                              

</div>

{% include "ascii/join-us-hero.njk" %}


<br>
<br>
<p class="separater_line"></p>
-->
  
  
<h2>Our community driven research</h2>

<p>
We work to create change by translating the problems of tomorrow into actions we can take today. We do this through our community driven research practice. Our past collaborations have been with people and teams like Audi Air, Mozilla Foundation, Waag, IFTTT, IDEO, CoLab, and Amber Initiative Foundation. 
</p>

<h2>Our Community</h2>

<p>
We run a community of creatives, consisting of indiepreneurs, coders, artists, designers, musicians, videographers, writers, animators (and more) supporting each other in establishing both creative autonomy and financial stability.</p>

<h2>Our Process</h2>
<p>
  Want to work with us? We would love to hear from you! Our collaborations start with a call so we can get to know each other. You can schedule one with us here. After which we will provide a project scope, budget, and timeline for the project. 
  </p>
<p>
Research
<ul>
  <li>Research insight into what the future generation (genZ) expect.</li>
  <br>
  <li>Consulting on how to set up and manage paid communities.
</li>
</ul>

</p>
<p>
Development
<ul>
  <li>Designing and coding artful web interfaces, like TheirTube and TBD. </li>
  <br>
  <li>Hosting a hackathon to create a interesting application for Ethereum.</li>
  <br>
</ul>

</p>



</div>
