---
layout: layouts/home.njk
eleventyNavigation:
  key: members
  order: 2
---


<div class="container">

<div class="ascii medium-ascii" >

       ___        __   ___  __   __
 |\/| |__   |\/| |__) |__  |__) /__`
 |  | |___  |  | |__) |___ |  \ .__/


</div>

{% include "ascii/members-hero.njk" %}

<h3 class="page_top">Our members consists of designers, artists, technologists and many more.</h3>
<br>
<br>
<p class="separater_line"></p>


<section>
  <div >
  {% for members in members.Members.results  | randomOrder %}
  <div >
  {{members.properties.HeroImage}}
  <img src={{members.properties.TinyProfile.files[0].file.url}} alt={{members.properties.Name.title[0].text.content}}/>
  </div>
  <div>
  <p>
  <a href={{members.properties.Link.url}}>{{members.properties.Name.title[0].text.content}}</a>
  <br/>
  {{members.properties.Description.rich_text[0].plain_text}}
  </p>
  </div>
  {% endfor %}
  </div>
</section>





