---
layout: layouts/home.njk
eleventyNavigation:
  key: members
  order: 2
---


<div class="container">

<div class="ascii medium-ascii" >

       ___        __   ___  __   __
 |\/| |__   |\/| |__) |__  |__) /__`
 |  | |___  |  | |__) |___ |  \ .__/


</div>




{% include "ascii/members-hero.njk" %}

<h3 class="page_top">Our members consists of designers, artists, technologists and many more.</h3>
<br>
<br>
<p class="separater_line"></p>


<section>
<div >
{% for members in members.Members.results %}
    <div >
        <div >
            <div>
                <img  src="{{members.properties.Profile.files[0].name}}" />
            </div>
            <div class="card--content">
                <p >{{members.properties.Name.title[0].text.content}} </p>
                <p">{{members.properties.Description.title[0].text.content}} </p>
                <p >{{members.properties.Author.rich_text[0].text.content}} </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>


</section>





