<div class="ascii_bottom">                   

  ^  ^     ^   ^  ^      ^  ^      ^   ^     ^   ^  ^     ^   ^  ^      ^         ^     ^   ^    ^  ^      ^    ^      ^     ^  ^      ^  ^   ^  ^                                                         ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^  /|\  /|\ ^  /|\   /|\/|\  ^ /|\/|\ /|\/|\                                                        |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\ /|\  /|\/|\ /|\   /|\/|\ /|\/|\/|\ /|\/|\                                                       /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\ /|\  /|\/|\ /|\   /|\/|\ /|\/|\/|\ /|\/|\                                                      /_|__\
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

</div>