<div id="animation_0" class="ascii_animation ascii_landing">     
  
  
                                                                                                                       ✧   ✧ 
                                                                                                                   .・゜   ✧
                                   ^                          ^                                     ^          ___||_  .・゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                                                                         ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                                                                        |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                                                                                       /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                                                                                      /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>

<div style="display:none">

<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                      *     ✦
                                                                                                                   .・゜    ✧
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                                                                ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                                                               |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                                                                              /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                                                                             /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>  

<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✦    ✦
                                                                                                                   .・゜    ✧
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                                                     ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                                                    |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                                                                   /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                                                                  /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
  

<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✧     ✦
                                                                                                                   .・゜    ✧
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                                           ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                                          |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                                                         /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                                                        /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
  
<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✧     ✧
                                                                                                                   .・゜    ✦
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                                      ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                                     |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                                                    /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                                                   /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>

<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✧    ✧
                                                                                                                   ✧・゜    ✧
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                                ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                               |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                                              /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                                             /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
  
  
  
<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✦    ✧
                                                                                                                   .・゜    ✧
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                           ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                          |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                                         /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                                        /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
  

<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✧    *
                                                                                                                   .・゜    ✧
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                     ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                    |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                                   /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                                  /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
  
  
<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✧    ✧
                                                                                                                   .・゜    ✧
                                   ^                          ^                                     ^          ___||_  ✦・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                                 ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                                |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                               /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                              /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
  
  
<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✧    ✧
                                                                                                                   .・゜    ✦
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                           ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                          |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                         /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                        /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
    
  

<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                      ✧     *
                                                                                                                   .・゜    ✧
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                     ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\                    |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\                   /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\                  /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
    
  

<div class="ascii_animation ascii_landing">      
  
  
                                                                                                                      ✧     ✧
                                                                                                                   .・゜    ∴
                                   ^                          ^                                     ^          ___||_  .・ ゜        
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^                ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\               |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\              /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\             /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>
  

  <div class="ascii_animation ascii_landing">      
  
  
                                                                                                                       ✦    ✧
                                                                                                                   ✦・゜    ✧
                                   ^                          ^                                     ^          ___||_  .・゜                                \hi/ 
  ^  ^     ^   ^  ^      ^  ^     /|\  ^     ^   ^  ^     ^  /|\ ^      ^         ^     ^   ^    ^ /|\        /\  ___\||        ^      ^      ^  ^          ,~
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\ ^ /|\ /|\/|\   /|\ /|\/|\    /|\ ^     /|\ ^ /|\ /|\  /|\/|\ ^     /  \/\ __ _\      /|\  ^ /|\    /|\/|\         |\
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | __  \_____\     /|\ /|\/|\    /|\/|\        /| \
 /|\/|\   /|\ /|\/|\    /|\/|\    /|\ /|\/|\/|\ /|\/|\   /|\ /|\/|\    /|\/|\    /|\/|\/|\ /|\  /|\/|\/|\    | ||  |     |     /|\ /|\/|\    /|\/|\       /_|__\
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾''""~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</div>



</div>