<div class="ascii medium-ascii" style="max-width=300px"> 

       _          _          _          _          _  
     >(')____,  >(')____,  >(')____,  >(')____,  >(') ___, 
       (` =~~/    (` =~~/    (` =~~/    (` =~~/    (` =~~/ 
    ~^~^`---'~^~^~^`---'~^~^~^`---'~^~^~^`---'~^~^~^`---'~^~^~


</div>

<div style="display:none">

  <div id="animation_1" class="ascii_join">                    

  </div>

</div>