<div class="ascii small-ascii"> 


     __________ __         __________ __         __________ __
    |    ___  _|__|_      |     ◊   _|__|_      |         _|__|_
    |  ,'   '. {'\)       |   ◊  ○   {'\)       |          {'\)
    | :  O O  : )(        | ◊  ◊  ◊   )(        | ◼◼◼◼◼     )(
    | :  ._\. :/ )\       |  ○  ◊\   / )\       |      \   / )\
    |  '.___\\/ / |       |◊  ◊   \\/ / |       |       \\/ / |
    |        '-'  |       | ◊      '-'  |       |        '-'  |
    |_________|   |       |_________|   |       |_________|   |
       /-----\|___|          /-----\|___|          /-----\|___|
      /       \|||          /       \|||          /       \|||
              .:;;                  .:;;                  .:;;

</div>

<div style="display:none">

  <div id="animation_1" class="ascii_members">                    

  </div>

</div>