<div id = "plane_animation" class = "ascii" style="cursor: pointer;">
                                                                                                                                                                                                        
 _______________________                                                                                                                                                                                
|    heyoooo welcome   | ---╲ -----◠-*                                                                                                                                                                
 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯       ¯/_/¯¯¯    

</div>