
<div class="ascii small-ascii" "> 


                         (`  ).                   _           
                        (     ).              .:(`  )`.       
                       _(       '`.          :(   .    )      
                   .=(`(      .   )     .--  `.  (    ) )      
       .--.       ((    (..__.:'-'   .+(   )   ` _`  ) )                 
     _(    `.     `(       ) )       (   .  )     (   )  ._   
    (        )      ` __.:'   )     (   (   ))     `-'.-(`  ) 
   ( `  .  )  )  ( )       --'       `- __.'         :(      )) 
    `--(___.-'  (_.'          .')                    `(    )  ))
                             (_  )                     ` __.:'          
                                                   
 ..-----.----..,___.--,--'`,---..-.--+--.,,-,,..._.--..-._.--..---.


</div>

<div style="display:none">

  <div id="animation_1" class="ascii_support">                    

  </div>

</div>